p {
	color: red;
	text-decoration: strike-through;
}

h1 {
	color: #00FF00;
}

p {
	color: #0000FF;
}

h1, h2 {
	background-color: #FF0000;
	text-decoration: line-through;
	font-family: papyrus;
	font-size: 50px;
	text-transform: uppercase;
}

h2 {
	text-decoration: underline;
}
